@import url("https://fonts.googleapis.com/css?family=Pacifico|Patrick+Hand&display=swap");

.play-container {
  padding: 0 100px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .logout-button {
    justify-self: left;
    cursor: pointer;
    height: 40px;
    width: 80px;
    border-radius: 8px;
    font-family: "Pacifico";
    font-size: 18px;
    color: purple;
    background-color: plum;
    &:hover {
      cursor: pointer;
      background-color: orchid;
    }
  }

  .title {
    font-size: 50px;
    font-family: 'Pacifico';
    color: white;
    font-weight: 50;
    text-align: center;
    width: 100%;
    text-anchor: middle;
    margin: 40px 0;
  }

  .play-users {
    width: 100%;
    display: flex;

    .current-user {
      padding: 50px 80px 20px 80px;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;

      .default-user-image {
        width: 200px;
      }

      .username {
        font-family: "Pacifico";
        padding-top: 20px;
        color: white;
        font-size: 50px;
      }
    }

    .second-user {
      padding: 50px 80px 20px 80px;
      width: 100%;
      align-items: center;
      display: flex;
      flex-direction: column;
     
      .lookup-container{
        width: 100%;
        text-align: center;
        .lookup-input {
          position:relative;
        padding: 0 15px;
        color: white;
        font-size: 20px;
        font-family: "Patrick Hand";
        background-color: transparent;
        border: 1px solid white;
        width: 80%;
        height: 60px;
        border-radius: 15px;
        outline: none;

        &:focus{
          outline: none;
        }
      }
    }
      
      
      
    }
  }

  .crack-fortune-button {
    transition: all .4s ease;
    width: 250px;

    &:hover {
      cursor: pointer;
      width: 270px;
    }
  }
}

.lookup-container {
  position: relative;
  top: 50px;
}

.auto-options {
  width: 80%;
  display: none;
  position: absolute;
  background-color: white;
  top: 46px;
  list-style: none;
  padding: 10px 10px;
  left: 31px;
  border-radius: 10px;
  outline: none;
  .list{
    font-family: 'Pacifico';
    padding: 5px;
    outline: none;

    &:hover{
      background-color: pink;
      border-radius: 10px;
      color: purple;
      outline: none;
    }
  }
}

.lookup-input:focus + .auto-options {
  display: block;
}

.auto-options:hover {
  display: block;
  cursor: pointer;
}
