.fortune-cookie-img {
    
    z-index: -1;
    position: absolute;
    
  }
  
  .Signup-link{
    position: relative;
    display: block;
    align-items: center;
    text-anchor: middle;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin: 0;
    background-color: plum;
    border: 3px solid plum;
    border-radius: 40px;
    width: 150px;
    margin: 0 auto;
    top: 470px;
  }
  
  .Login-link{
    position: relative;
    display: block;
    align-items: center;
    text-anchor: middle;
    text-align: center;
    text-decoration: none;
    padding: 20px;
    margin: 0;
    background-color: plum;
    border: 3px solid plum;
    border-radius: 40px;
    width: 150px;
    margin: 0 auto;
    top: 500px;
  }
  
  body {
    background-image: url("/purple-background.png");
  }